{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <h1 class="display-4">Killer Queen Chattanooga: Code of Conduct</h1>

    <p> TL;DR: Be an adult. Be nice. We're all friends here. </p>

    <hr />

    <p> Killer Queen Chattanooga does not allow abusive behavior at our
    tournaments and League Nights. This includes, but is not limited to, (1)
    taunting other players or teams, (2) singling out other players, (3)
    talking to the other team during play, (4) excessive celebrations (e.g.,
    loudly celebrating a win over a new or poorly matched team), (5)
    excessive cursing about characters in the abstract (e.g., calling the
    Queen a bitch, slut, cunt, etc), and (6) intimidating players or teams
    off the cabinet or on (this includes making unwanted sexual advances). If
    players or teams are behaving in any manners above, a Tournament
    Organizer, as defined and chosen by the rules of this tournament,
    henceforth referred to as “TO”, has the ability to rule on the players or
    teams in the following way: </p>

    <p> After a first offense, the TO has the authority to issue a verbal
    warning including an explanation of the rules and what subsequent actions
    could result in. If the player commits a second offense, however, whether
    similar or unique to the original, it is grounds for the TO to force that
    player's team to lose their next series or their current one if they are
    actively playing. On the third offense, the TO has the power to remove
    that player or team from the tournament entirely, including suggesting
    for removal from the tournament grounds. Ultimately, the bartender is
    free to decide whether a player should be removed, even if a TO does not
    suggest doing so. </p>

    <p> Furthermore, Killer Queen Chattanooga has zero-tolerance for racism,
    sexism, homophobia, transphobia, and xenophobia. Any actions fueled by
    racism, sexism, homophobia, transphobia, or xenophobia, as well as
    egregious acts that make a player fear for their safety (e.g. sexual
    harassment or threats of physical violence) are grounds for immediate
    removal from the tournament and tournament grounds at the TO’s and
    bartender's discretion. </p>

    <p> Players are encouraged to report this behavior whether or not they
    were involved in the exchange. The anonymity of the person(s) reporting
    issues will be maintained at all times. Players are also encouraged to
    point out any time a TO violates this code of conduct in any way. </p>

    <h4> Additional notes </h4>

    <p> Accidents do happen and some habits are difficult to break, hence
    enforcement will occur at the TO and community's discretion. That is, if
    the hype feels positive and not as ill will, especially between
    established players, no action may be taken unless concerns are raised by
    a player. However, please keep in mind that what is a joke to you may not
    be a joke to another. This includes <u>certain memes</u>, which may
    actually be problematic in a racist, sexist, etc way you may not yet
    realize (I can't believe I have to point this out). </p>

    <p> Players should also be aware that they are representing our scene:
    while everyone in our scene may know a particular person's sense of humor
    & meant no harm, the non-players in the bar may not see it that way. We
    want to be inviting, not driving new players away! The Coin-Op is not a
    21+ only bar, please be mindful of that as well. </p>

    <p> Finally, this Code of Conduct only applies to tournaments and League
    Nights. Since we don't own the bar and are mostly self-organized, it's up
    to the bartender to decide when someone is stepping over the line during
    regular bar hours. Again, please remember regular bar hours are the
    primary hours for recruiting new folks to come to League Nights. </p>


    <h4> Acknowledgements </h4>

    <p> Many thanks to Woody Stanfield and the rest of the Chicago scene for
    writing and providing the original Code of Conduct. </p>

</div>

{% endblock %}
