{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <h1 class="display-4">Killer Queen Chattanooga: Code of Conduct</h1>

    <p> TL;DR: Be an adult. Be nice. We're all friends here. </p>

    <hr />

<p> Killer Queen Chattanooga does not allow abusive behavior at our tournaments
and League Nights.  This includes, but is not limited to, (1) taunting other
players or teams (e.g. taunting while playing, taunting as a spectator or
cheering against a team directly in front of you), (2) singling out other
players, (3) talking to the other team during play, (4) excessive celebrations
(e.g., loudly celebrating a win over a new or poorly matched team), (5)
excessive cursing about characters in the abstract (e.g., calling the Queen
a bitch, slut, cunt, etc), and (6) intimidating players or teams off the cabinet
or on (this includes making unwanted sexual advances).  If players or teams are
behaving in any manners above, a Tournament Organizer, as defined and chosen by
the rules of this tournament, henceforth referred to as "TO", has the ability to
rule on the players or teams in the following way: </p>

<p> After a first offense, the TO has the authority to issue a verbal warning
including an explanation of the rules and what subsequent actions could result
in.  If the player commits a second offense, however, whether similar or unique
to the original, it is grounds for the TO to force that player's team to lose
their next series or their current one if they are actively playing.  On the
third offense, the TO has the power to remove that player or team from the
tournament entirely, including suggesting for removal from the tournament
grounds.  Ultimately, the bartender is free to decide whether a player should be
removed, even if a TO does not suggest doing so.  </p>

<p> Furthermore, Killer Queen Chattanooga has zero-tolerance for racism, sexism,
homophobia, transphobia, and xenophobia.  Any actions fueled by racism, sexism,
homophobia, transphobia, or xenophobia, as well as egregious acts that make
a player fear for their safety (e.g. sexual harassment or threats of physical
violence) are grounds for immediate removal from the tournament and tournament
grounds at the TO’s and bartender's discretion.  </p>

<p> Players are encouraged to report this behavior whether or not they were
involved in the exchange.  The anonymity of the person(s) reporting issues will
be maintained at all times.  Players are also encouraged to point out any time
a TO violates this code of conduct in any way.  </p>

<h4> Additional notes </h4>

<p> Accidents do happen and some habits are difficult to break, hence
enforcement will occur at the TO and community's discretion.  That is, if the
hype feels positive and not as ill will, especially between established players,
no action may be taken unless concerns are raised by a player.  However, please
keep in mind that what is a joke to you may not be a joke to another.  This
includes certain memes, which may actually be problematic in a racist, sexist,
etc way you may not yet realize.  </p>

<p> Killer Queen Chattanooga Players should also be aware that they are
representing our scene whether it is here in Chattanooga or in other Killer
Queen communities.  The same abusive behavior outlined above will not be
tolerated while representing us within the Killer Queen community and ecosystem.
This includes out of town tournaments or events as well as online Killer Queen
communities (Facebook, YouTube, Twitch, etc).  Repercussions of abusive behavior
may range anywhere from a warning to expulsion from Killer Queen Chattanooga
events and Coin-Op, depending on the severity of the action(s) at the discretion
of the community and Coin-Op.  </p>


<h4> Acknowledgements </h4>

<p> Many thanks to Woody Stanfield and the rest of the Chicago scene for writing
and providing the original Code of Conduct, as well as the Charlotte scene for
their amendments. </p>

</div>

{% endblock %}
