{% extends 'base.html' %}

{% load tz %}

{% block header %}
{{ registerForm.media }}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Killer Queen: {{ event.name }}</h1>
    {{ event.when | timezone:event.timezone }} ({{ event.when | utc }} UTC) &#8226; Tournament style: {{ event.tournament_style }} <br/>

    <div class="col-md-4">
        <h2>Suggested teams</h2>
        <br />
        {% if teams %}
            <ol>
            {% for team in teams %}
                <li>{{ team.name }}
                    {% if user.is_staff %} <small style="color: grey">(r={{ team.rating_mean|floatformat:1}})</small> {% endif %}
                    <br /><ol>
                {% for player in team.players %}
                    {% if player %}
                        <li> {{ player.user.get_full_name }}
                             {% if user.is_staff %} <small style="color: grey">({{ player.user.username }}, r={{ player.trueskill_rating_exposure|floatformat:1 }})</small> {% endif %}
                            </li>
                    {% else %}
                        <strong><li> </li></strong>
                    {% endif %}
                {% endfor %}
                </ol></li>
            {% endfor %}
            </ol>
        {% else %}
            Whoops, nobody is registered... yet!  Join us?
        {% endif %}
    </div>

    <div class="col-md-8">
        <h2>Register as a player</h2>
        <hr />
        <h4>Played with us before?</h4>
        <small>
            <p>
                You should already have an account (even if you didn't make it yourself -- just ask).
            </p>
            <p>
                Try typing your username or first name in the field below and select your user.
                If you're having trouble, find a staff member and we'll get you sorted out.
            </p>
        </small>
        <form method="post">
            {% csrf_token %}
            <p>
                {{ registerForm.action }}
                {{ registerForm.user.label_tag }}
                {{ registerForm.user }}
                <button type="submit">Register</button>
            </p>
        </form>
        <hr />
        <h4>New to our league?</h4>
        <small>
            <p>
            Sign up for an account so we can keep track of your scores for the season!
            </p>
        </small>
        <form method="post">
            {% csrf_token %}
            <table style="vertical-align: middle">
            {% for field in signUpForm %}
                <tr>
                    <th> {{ field.label_tag }} </th>
                    <td> {{ field }} </td>
                    <td> {% if field.help_text %} <small style="color: grey">{{ field.help_text }}</small> {% endif %} </td>
                    <td> {% for error in field.errors %} <p style="color: red">{{ error }}</p> {% endfor %} </td>
                </tr>
            {% endfor %}
            </table>
            <button type="submit">Sign up and register</button>
        </form>
    </div>
</div>

{% endblock %}
