{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>{{ event.name }}</h1>
    Tournament style: {{ event.tournament_style }}
    <div class="col-md-4">
        <h2>Current teams (suggested)</h2>
        <br />
        {% if teams %}
            <ol>
            {% for team in teams %}
                <li>{{ team.name }} <small style="color: grey">(r={{ team.rating_mean }})</small> <br /><ol>
                {% for player in team.players %}
                    {% if player %}
                        <li> {{ player.user.get_full_name }} <small style="color: grey">({{ player.user.username }}, r={{ player.trueskill_rating_exposure }})</small></li>
                    {% else %}
                        <strong><li> </li></strong>
                    {% endif %}
                {% endfor %}
                </ol></li>
            {% endfor %}
            </ol>
        {% else %}
            Whoops, not enough players registered!  Join us?
        {% endif %}
    </div>

    <div class="col-md-8">
        <h2>Register as a player</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in registerForm %}
            <p>
                {{ field.label_tag }}
                <br> {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Register</button>
        </form>
        <br />
        <br />
        <h4>Or, sign up</h4>
        <form method="post">
            {% csrf_token %}
            {% for field in signUpForm %}
            <p>
                {{ field.label_tag }}
                <br> {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Sign up and register</button>
        </form>
    </div>
</div>

{% endblock %}
