{% extends 'base.html' %}

{% load tz %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript">
function copyToClipboard(elementId) {
  // Create a "hidden" input
  var aux = document.createElement("div");

  // Assign it the value of the specified element
  aux.setAttribute("contentEditable", true);
  aux.innerHTML = document.getElementById(elementId).innerHTML.replace(/\r/g, "<br />");
  aux.setAttribute("onfocus", "document.execCommand('selectAll',false,null)");

  // Append it to the body
  document.body.appendChild(aux);

  // Highlight its content
  aux.focus();

  // Copy the highlighted text
  document.execCommand("copy");

  // Remove it from the body
  document.body.removeChild(aux);
}
</script>
{{ registerForm.media }}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Killer Queen: {{ event.season.name }} {{ event.name }}</h1>
        &#8226; {{ event.when | timezone:event.timezone }} ({{ event.when | utc }} UTC)
        &#8226; <a href="{{ event.tournament_url }}" target="_blank">{{ event.tournament_url }}</a>
        &#8226; <br/>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h3>Current players</h3>
            {% if all_players %}
                <ol>
                    {% for player in all_players %}
                        <li> {% if forloop.last %} <strong> {{ player.user.get_full_name }} </strong> {% else %}{{ player.user.get_full_name }} {% endif %}
                             {% if player.wants_queen %} <strong>👑</strong> {% endif %}
                             {% if user.is_superuser %} <small style="color: grey">({{ player.user.username }}, r={{ player.trueskill_rating_exposure|floatformat:1 }})</small> {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3>Suggested teams</h3>
            <br />
            {% if teams %}
                <ol>
                {% for team in teams %}
                    <li>{{ team.name }}
                        {% if user.is_superuser %} <small style="color: grey">(r={{ team.rating_mean|floatformat:1}})</small> {% endif %}
                        <br /><ol>
                    {% for player in team.players %}
                        {% if player %}
                            <li> {{ player.user.get_full_name }}
                                {% if player.wants_queen %} <strong>👑</strong> {% endif %}
                                {% if user.is_superuser %} <small style="color: grey">({{ player.user.username }}, r={{ player.trueskill_rating_exposure|floatformat:1 }})</small> {% endif %}
                                </li>
                        {% else %}
                            <strong><li> </li></strong>
                        {% endif %}
                    {% endfor %}
                    </ol></li>
                {% endfor %}
                </ol>
            {% else %}
                Whoops, not enough players are registered... yet!  Join us?
            {% endif %}
        </div>

        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <table style="vertical-align: middle">
                {% for field in form %}
                    <tr>
                        <th> {{ field.label_tag }} </th>
                        <td> {{ field }} </td>
                        <td> {% if field.help_text %} <small style="color: grey">{{ field.help_text }}</small> {% endif %} </td>
                        <td> {% for error in field.errors %} <p style="color: red">{{ error }}</p> {% endfor %} </td>
                    </tr>
                {% endfor %}
                </table>
                <button class="btn btn-primary btn-md" type="submit">Remix</button>
            </form>

            <br />
            {% if teams %}
            <textarea id="team-names" readonly rows={{ teams | length }}>{% for team in teams %}{{ team.name }}{% if not forloop.last %}&#013;&#010;{% endif %}{% endfor %}</textarea>
            <br />
            <button class="btn btn-primary btn-md" onclick="copyToClipboard('team-names')">Copy Team Names</button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
