{% extends 'base.html' %}

{% load tz %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script type="text/javascript" src="{% static 'vue/vue-clipboard.min.js' %}"></script>
{{ teams_data|json_script:"team-data" }}
{% csrf_token %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

Vue.http.interceptors.push(function(request) {
  request.headers.set('X-CSRFToken', csrftoken);
});

var app = new Vue({
  el: '#vueApp',
  delimiters: ['${', '}'],
  data: {
      teamData: JSON.parse(document.getElementById('team-data').textContent),
      copyButtonText: 'Copy Team Names'
  },
  computed: {
      teamNames: function() {
          return this.teamData.map(x => x.name).join('\n')
      }
  },
  methods: {
    onCopy: function (e) {
        this.copyButtonText = 'Copied!';
        console.log(this.teamData);
    },
    onError: function (e) {
      alert('Failed to copy text');
    },
    goToResults: function (e) {
        window.location.href = '/events/{{ event.id }}/result'
    },
    startTournament: function (e) {
        console.log(this.teamData);

        if (confirm("Are you sure you are ready to start the tournament?"))
        {
            this.$http.post('/events/{{ event.id }}/start', this.teamData)
                    .then(response => { window.location.href = '/events/{{ event.id }}/result' },
                            error => { alert("Could not start tournament.  This event may already have teams.") });
        }
    }
  }
})
</script>
{% endblock %}

{% block content %}

<div id="vueApp" class="container">
    <h1>Killer Queen: {{ event.season.name }} {{ event.name }}</h1>
    &#8226; {{ event.when | timezone:event.timezone }} ({{ event.when | utc }} UTC)
    &#8226; <a href="{{ event.tournament_url }}" target="_blank">{{ event.tournament_url }}</a>
    &#8226; <br />
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h3>Suggested teams</h3>

            <ol id="suggested-teams">
                <li v-for="team in teamData">
                    ${ team.name } <small style="color: grey">(${ team.rating_mean })</small>
                    <br />
                    <ol>
                        <li v-for="player in team.players">
                            <div v-if="player.id > 0">
                                ${ player.name } ${ player.role } <small style="color: grey">(${ player.rating })</small>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <br />

        <div class="col-md-4">
            <h3>Swap players</h3>
            TODO

            <br />
            {% if teams_already_formed %}
                Teams for this event have already been formed.

                <button
                    type="button"
                    class="btn btn-primary btn-md"
                    v-on:click="goToResults">Go to results</button>
            {% else %}
                <button
                    type="button"
                    class="btn btn-primary btn-md"
                    v-on:click="startTournament">Start tournament</button>
            {% endif %}
        </div>

        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <table style="vertical-align: middle">
                    {% for field in form %}
                    <tr>
                        <th> {{ field.label_tag }} </th>
                        <td> {{ field }} </td>
                        <td> {% if field.help_text %} <small style="color: grey">{{ field.help_text }}</small> {% endif %} </td>
                        <td> {% for error in field.errors %} <p style="color: red">{{ error }}</p> {% endfor %} </td>
                    </tr>
                    {% endfor %}
                </table>
                <button class="btn btn-primary btn-md" type="submit">Remix</button>
            </form>

            <br />
            <textarea id="team-names" v-model="teamNames" readonly rows={{ teams | length }}></textarea>
            <br />
            <button
                type="button"
                class="btn btn-primary btn-md"
                v-clipboard:copy="teamNames"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError">${copyButtonText}</button>
            <br />
        </div>
    </div>
</div>

{% endblock %}
