
{% extends 'base.html' %}

{% load tz %}

{% block content %}

<div class="container">
    <ul>
        {% for season in object_list %}
            <li>
                {{ season.name }}

                <ul>
                {% for event in season.events.all|dictsort:"when" %}
                    {% if not event.is_current and not event.is_active %}
                        {% url 'event_result' event.id as the_url %}
                        <li><a href="{{ the_url }}">{{ event.name }} </a> - {{ event.when | timezone:event.timezone }}</li>
                    {% endif %}
                {% endfor %}
                </ul>

            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
