
{% extends 'base.html' %}

{% load tz %}

{% block content %}

<div class="container">
    <ul>
        {% for season in object_list %}
            <li>
                {% url 'seasonal_top_players' season.id as seasonal_top_players %}
                {{ season.name }} - <a href="{{ seasonal_top_players }}">Top Players</a>

                <ul>
                {% for event in season.events.all|dictsort:"when" %}
                    {% url 'event_result' event.id as the_url %}
                    <li><a href="{{ the_url }}">{{ event.name }} </a> - {{ event.when | timezone:event.timezone }}</li>
                {% endfor %}
                </ul>

            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
