{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Enter new password</h2>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post">
        {% csrf_token %}
            <table>
            {% for field in form %}
                <tr style="vertical-align: middle">
                    <th> {{ field.label_tag }} </th>
                    <td> {{ field }} </td>
                    <td> {% if field.help_text %} <small style="color: grey">{{ field.help_text|safe }}</small> {% endif %} </td>
                    <td> {% for error in field.errors %} <p style="color: red">{{ error }}</p> {% endfor %} </td>
                </tr>
            {% endfor %}
            </table>
        <button type="submit">Change my password</button>
    </form>
</div>
{% endblock %}
